## TODO style.css
## TODO other exceptions

<h1>Error in submitted file</h1>
<h3>No tests were run, see details below.</h3>


{% if error.type == "ImportError" %}

<div class="grading-task">
  <div class="panel panel-default">

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#import-error">Import error</a>
        <span class="label feedback-label label-danger">Error</span>
      </h4>
    </div>

      <div id="import-error" class="panel-collapse collapse in">
        <div class="panel-body">
          <p>The submitted file could not be imported for execution, reason:</p>
          <pre>{{ error.message }}</pre>
        </div>
      </div>

  </div>
</div>

{% endif %}

{% if error.type == "MemoryError" %}

<div class="grading-task">
  <div class="panel panel-default">

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#memory-error">Memory error</a>
        <span class="label feedback-label label-danger">Error</span>
      </h4>
    </div>

      <div id="memory-error" class="panel-collapse collapse in">
        <div class="panel-body">
          <pre>{{ error.message }}</pre>
        </div>
      </div>

  </div>
</div>

{% endif %}


{% for match in blacklist_matches %}

<div class="grading-task">
  <div class="panel panel-default">

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#name-error{{ loop.index }}">
          Use of forbidden operation</a>
        <span class="label feedback-label label-danger">Error</span>
      </h4>
    </div>

      <div id="name-error{{ loop.index }}" class="panel-collapse collapse in">
        <div class="panel-body">
          <p>
          The submitted file {{ match.filename }}
          contains a forbidden operation "{{ match.description }}"

          {% if match.linenumber > 0 %}
          at line number <code>{{ match.linenumber }}</code>:
          <pre><code class="python">{{ match.line_content }}</code></pre>
          {% else %}
          .
          {% endif %}

          If you feel that this operation should be allowed in this exercise, please discuss about this with the course staff.
          </p>
        </div>
      </div>

  </div>
</div>

{% endfor %}

{% if error.file_type_error %} ## TODO new context dict
<div class="grading-task">
  <div class="panel panel-default">

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#file-type-error">Wrong filetype error</a>
        <span class="label feedback-label label-danger">Error</span>
      </h4>
    </div>

      <div id="import-error" class="panel-collapse collapse in">
        <div class="panel-body">
          <p>The submitted file could not be accepted, reason:</p>
          <pre>{{ error.file_type_error }}</pre>
        </div>
      </div>

  </div>
</div>

{% endif %}

{% if error.html_style_error %} ## TODO new context dict
<div class="grading-task">
  <div class="panel panel-default">

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#html_style_error">Invalid HTML error</a>
        <span class="label feedback-label label-danger">Error</span>
      </h4>
    </div>

      <div id="import-error" class="panel-collapse collapse in">
        <div class="panel-body">
          <p>The HTML file contained following errors:</p>
          <pre>{{ error.html_style_error }}</pre>
        </div>
      </div>

  </div>
</div>

{% endif %}

