<style>
{% include 'feedback.css' %}
</style>

<h2>It seems that there were some errors</h2>


{% if exception %}
  {% if exception.type == "ImportError" %}
  <div class="grading-task">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#import-error">Import error</a>
          <span class="label feedback-label label-danger">Error</span>
        </h4>
      </div>

        <div id="import-error" class="panel-collapse collapse in">
          <div class="panel-body">
            <p>The submitted file could not be imported for execution, reason:</p>
            <pre>{{ exception.message }}</pre>
          </div>
        </div>

    </div>
  </div>

  {% elif exception.type == "MemoryError" %}
  <div class="grading-task">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#memory-error">Memory error</a>
          <span class="label feedback-label label-danger">Error</span>
        </h4>
      </div>

        <div id="memory-error" class="panel-collapse collapse in">
          <div class="panel-body">
            <pre>{{ exception.message }}</pre>
          </div>
        </div>

    </div>
  </div>

  {% elif exception.type == "SyntaxError" %}
  <div class="grading-task">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#syntax-error">Syntax error</a>
          <span class="label feedback-label label-danger">Error</span>
        </h4>
      </div>

        <div id="syntax-error" class="panel-collapse collapse in">
          <div class="panel-body">
            <pre>{{ exception.message }}:</pre>
            <code>{{ exception.object.text }}</code>
          </div>
        </div>

    </div>
  </div>

  {% elif exception.type == "filetype error" %}
  <div class="grading-task">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#file-type-error">Wrong filetype error</a>
          <span class="label feedback-label label-danger">Error</span>
        </h4>
      </div>

        <div id="import-error" class="panel-collapse collapse in">
          <div class="panel-body">
            <p>The submitted file could not be accepted, reason:</p>
            <pre>{{ exception.message }}</pre>
          </div>
        </div>

    </div>
  </div>

  {% elif exception.type == "html style error" %}
  <div class="grading-task">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#html_style_error">Invalid HTML error</a>
          <span class="label feedback-label label-danger">Error</span>
        </h4>
      </div>

        <div id="import-error" class="panel-collapse collapse in">
          <div class="panel-body">
            <p>The HTML file contained following errors:</p>
            <pre>{{ exception.html_style_error }}</pre>
              Tiedostosi sisälsi virheitä. Käytä oheisen linkin takaa löytyvää työkalua tutkimaan virheitä tarkemminen. http://validator.w3.org/#validate_by_input
          </div>
        </div>

    </div>
  </div>

  {% else %}
  <div class="grading-task">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#error">{{ exception.type }}</a>
          <span class="label feedback-label label-danger">Error</span>
        </h4>
      </div>

        <div id="error" class="panel-collapse collapse in">
          <div class="panel-body">
            <pre>{{ exception.message }}</pre>
          </div>
        </div>

    </div>
  </div>
  {% endif %}
{% endif %}


{% for forbidden_syntax in found_forbidden_syntax_list %}

<div class="grading-task">
  <h4>{{ forbidden_syntax.description }}</h4>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#forbidden-syntax-error">
          Use of forbidden syntax</a>
        <span class="label feedback-label label-danger">Error</span>
      </h4>
    </div>

      <div id="forbidden-syntax-error" class="panel-collapse collapse in">
        <div class="panel-body">

        {% for match in forbidden_syntax.matches %}

          <div class="container">
            <p>
            The submitted file <code>{{ match.filename }}</code>
            contains forbidden syntax <code>{{ match.description }}</code>
            {% if match.linenumber > 0 %}
            at line number <code>{{ match.linenumber }}</code>:
            <pre><code class="python">{{ match.line_content }}</code></pre>
            {% else %}
            .
            {% endif %}
            </p>
          </div>

        {% endfor %}

        </div>
      </div>

  </div>
</div>

{% endfor %}
