<style>
{% include 'feedback.css' %}
</style>

{% macro title_or_default(title) -%}
{% if title %}
{{ title }}
{% else %}
Something weird happened at the server, this test has no title...
{% endif %}
{%- endmacro %}


{% if no_tests %}

<div class="grading-task">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#no_tests_success">Passed</a>
        <span class="label feedback-label label-success">Success</span>
      </h4>
    </div>
  </div>
</div>

{% else %}

<div class="total-grading-results">

  <h1>Total test points: {{ total_points }} of {{ total_max_points }}</h1>
  <h1><small>Total tests run: {{ total_tests_run }}</small></h1>
</div>


  {% for testsuite_results in all_results %}
  {% set all_results_loop = loop %}

  <div class="grading-task">

  <h3 class="testsuite-header">{{ testsuite_results.test_description }} points: {{ testsuite_results.points }} of {{ testsuite_results.max_points }}</h3>

  {% for result in testsuite_results.results %}
  {% set testsuite_loop = loop %}

    <div class="panel panel-default">
      <div class="panel-heading">

        <h4 class="panel-title">
            <a data-toggle="collapse" href="#result{{ all_results_loop.index }}-{{ testsuite_loop.index }}">
            {{ title_or_default(result.method_name) }}</a>


        {% if result.test_outcome == "SUCCESS" %}

          <span class="label feedback-label label-success">Success</span>
        </h4>
      </div>
      <div id="result{{ all_results_loop.index }}-{{ testsuite_loop.index }}" class="panel-collapse collapse in">
        <div class="panel-body">
            {% if result.user_data.total_time %}
            <p>Total time: {{ "%.2f"|format(1000*result.user_data.total_time) }} msec for {{ result.user_data.test_count }} different lists.</p>
            {% elif result.user_data.preformatted_feedback %}
            <pre>{{ result.user_data.preformatted_feedback|e }}</pre>
            {% endif %}
        </div>
      </div>

        {% elif result.test_outcome == "FAIL" %}

          <span class="label feedback-label label-danger">Failed</span>
        </h4>
      </div>
      <div id="result{{ all_results_loop.index }}-{{ testsuite_loop.index }}" class="panel-collapse collapse in">
        <div class="panel-body feedback-failed">
          <p>The test failed, reason:</p>
          <pre>{{ result.assertion_message|e }}</pre>

          {# TODO: this should be in a custom template used only by the tests which use tree rendering #}
          {% if result.user_data|length > 2 %}
          <script data-json-tree type="application/json">{{ result.user_data }}</script>
          <div class="tree-graph-container well">
            <p class="error-msg">If this message does not disappear, something went wrong when attempting to draw the tree structure used in the tests.</p>
            <div class="canvas-container">
            </div>
            <p class="info" style="display: none;">Drag canvas to move, scroll mouse to zoom.</p>
          </div>
          {% endif %}

        </div>
      </div>


        {% elif result.test_outcome == "ERROR" %}

          {% if result.assertion_message|length == 0 %}
          <span class="label feedback-label label-default">Server error</span>
          {% else %}
          <span class="label feedback-label label-danger">Error</span>
          {% endif %}
        </h4>
      </div>
      <div id="result{{ all_results_loop.index }}-{{ testsuite_loop.index }}" class="panel-collapse collapse in">
        <div class="panel-body">
          <p>Errors occurred during testing. Click 'Show full traceback' if you want to see the full traceback. </p>

          {% if result.assertion_message|length == 0 %}
          <pre>Error in grader server, please notify course staff.</pre>
          {% else %}
          <pre>{{ result.assertion_message|e }}</pre>
          {% endif %}

          <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#traceback{{ all_results_loop.index }}-{{ testsuite_loop.index }}">
            Show full traceback</button>
          <div id="traceback{{ all_results_loop.index }}-{{ testsuite_loop.index }}" class="collapse">
            <p><pre>{{ result.full_traceback }}</pre></p>
          </div>
        </div>
      </div>

        {% else %}

          <span class="label feedback-label label-default">Unknown test result</span>
        </h4>
        <b>Error in feedback template, please notify course staff.</b>
        <p>The test result output from the server tests should still be visible below.</p>
      </div>

        {% endif %}

      </div>
  {% endfor %}

    <div class="panel panel-default full-test-output">
      <div class="panel-heading">

        <h5 class="panel-title">
          <a data-toggle="collapse" href="#full-test-output{{ all_results_loop.index }}">
              Full console output for {{ testsuite_results.test_description|lower }}</a>
          <span class="label feedback-label label-info">Info</span>
        </h5>
      </div>

      <div id="full-test-output{{ all_results_loop.index }}" class="panel-body collapse">
        <p><pre>{{ testsuite_results.unittest_output|e }}</pre></p>
      </div>
    </div>

  </div>

  {% endfor %}

{% endif %}

<!-- js functions for drawing graphs into the feedback divs -->
<!-- <script> -->
<!-- {% include 'feedback.js' %} -->
<!-- </script> -->

<!-- <script> -->
<!-- // Check if the page contains JSON data for trees and then draw them -->
<!-- main(); -->
<!-- </script> -->

