{% block feedback_start %}
{% endblock %}

{% block styles %}
<style>
{% include 'feedback.css' %}
</style>
{% endblock %}

<div class="total-grading-results">
    {% if points and maxPoints %}
    <h1>Total points: {{ points }} of {{ maxPoints }}</h1>
    {% endif %}
    {% if testsRun %}
    <h1><small>Total tests run: {{ testsRun }}</small></h1>
    {% endif %}
</div>

{% for result_group in resultGroups %}
{% set result_group_loop = loop %}

<div class="grading-task">
    {% if result_group.points and result_group.maxPoints %}
    <h3 class="testgroup-header">{{ result_group.name }} points: {{ result_group.points }} of {{ result_group.maxPoints }}</h3>
    {% else %}
    <h3 class="testgroup-header">{{ result_group.name }}</h3>
    {% endif %}
    {% if result_group.description %}
    <div>{{ result_group.description }}</div>
    {% endif %}

    {% for result in result_group.testResults %}
    {% set test_result_loop = loop %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse"
                   href="#result{{ result_group_loop.index }}-{{ test_result_loop.index }}">{{ result.name }}</a>
                {% if result.state == "success" %}
                <span class="label feedback-label label-success">Success</span>
                {% elif result.state == "fail" %}
                <span class="label feedback-label label-danger">Failed</span>
                {% elif result.state == "error" %}
                <span class="label feedback-label label-danger">Error</span>
                {% endif %}
            </h4>
        </div>
        <div id="result{{ result_group_loop.index }}-{{ test_result_loop.index }}"
             class="panel-collapse {% if result.userData %} collapse in {% else %} collapse {% endif %}">
            {% block result_panel scoped %}
            <div class="panel-body">

                {% if result.header %}
                <p>{{ result.header }}</p>
                {% endif %}

                {% if result.testOutput %}
                <pre class="feedback">{{ result.testOutput|e }}</pre>
                {% endif %}

                {% block result_panel_after_output scoped %}
                {% endblock %}

                {% if result.state == "error" %}
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#traceback{{ result_group_loop.index }}-{{ test_result_loop.index }}">
                  Show traceback</button>
                <div id="traceback{{ result_group_loop.index }}-{{ test_result_loop.index }}" class="collapse">
                  <p><pre>{{ result.fullTestOutput|e }}</pre></p>
                </div>
                {% endif %}

                {% if result.footer %}
                <p>{{ result.footer }}</p>
                {% endif %}

            </div>
            {% endblock %}

        </div>
    </div>
    {% endfor %}
</div>

{% if result_group.fullOutput %}
<div class="panel panel-default full-test-output">
    <div class="panel-heading">
        <h5 class="panel-title">
            <a data-toggle="collapse" href="#full-test-output{{ result_group_loop.index }}">
                Full terminal output for {{ result_group.name }}</a>
            <span class="label feedback-label label-info">Info</span>
        </h5>
    </div>
    <div id="full-test-output{{ result_group_loop.index }}" class="panel-body collapse">
        <p><pre class="feedback">{{ result_group.fullOutput|e }}</pre></p>
    </div>
</div>
{% endif %}

{% endfor %}

{% if warningMessages %}
<div class="container">
    {% for warning in warningMessages %}
    <div class="alert alert-danger" role="alert">
        <pre>{{ warning|e }}</pre>
    </div>
    {% endfor %}
</div>
{% endif %}

{% block feedback_end %}
{% endblock %}
