include LICENSE
include README.md

recursive-include graderutils *
recursive-include graderutils_format *

recursive-include examples *
recursive-exclude examples *.html *.json

recursive-exclude * *.pyc __pycache__ *.png *.xml
