/* Increase size of labels in grader result panels */
div.grading-feedback h4 {
    margin-top: 0;
}
span.feedback-label {
    font-size: 14px;
}
/* Disable automatic horizontal scroll of preformatted text blocks */
div.pre-wrap pre {
    white-space: pre-wrap;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    background-color: var(--bs-tertiary-bg);
}
div.pre-wrap pre:last-of-type {
    margin-block: 0px 0px;
}
span.iotester-warning {
    color: var(--bs-danger);
}
span.iotester-basic {
    color: #a5409e;
}
span.iotester-incorrect {
    background-color: #f9a7a7;
}
span.iotester-correct {
    background-color: #8cde8c;
}
span.iotester-input {
    background-color: #7ed9f5;
}
[data-bs-theme="dark"] span.iotester-basic {
    color: #d0a7ff;
}
[data-bs-theme="dark"] span.iotester-incorrect {
    background-color: #8b2e2e;
}
[data-bs-theme="dark"] span.iotester-correct {
    background-color: #1e6e1e;
}
[data-bs-theme="dark"] span.iotester-input {
    background-color: #0e5a8a;
}
div.grading-feedback .accordion-header .badge {
    font-size: 14px;
}
span.panel-title {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    font-weight: 700;
}
/* Fix borders with vertically spaced accordion */
div.spaced-accordion > .accordion-item {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-radius: var(--bs-accordion-border-radius);
    margin-top: 1rem;
}
div.spaced-accordion > .accordion-item  > .accordion-header > .accordion-button:not(.collapsed) {
    border-top-left-radius: var(--bs-accordion-inner-border-radius);
    border-top-right-radius: var(--bs-accordion-inner-border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
div.spaced-accordion > .accordion-item  > .accordion-header > .accordion-button.collapsed {
    border-radius: var(--bs-accordion-inner-border-radius);
}
