/* Increase size of labels in grader result panels */
span.feedback-label {
    font-size: 14px;
}
/* Add space between different test groups */
div.grading-task {
    margin-top: 40px;
    margin-bottom: 40px;
}
/* Add more separation between last test group and unittest terminal output */
div.full-test-output {
    margin-top: 35px;
}
/* Bootstrap h4 bottom margins are by default a bit too small */
h4.testgroup-header {
    margin-bottom: 20px;
}
/* Disable automatic horizontal scroll of preformatted text blocks */
div.panel-body pre {
    white-space: pre-wrap;
}
div.warning-messages {
    margin-top: 35px;
}
.grader-info {
    color: gray;
}
span.iotester-warning {
    color: red;
}
span.iotester-basic {
    color: #a5409e;
}
span.iotester-incorrect {
    background-color: #f9a7a7;
}
span.iotester-correct {
    background-color: #8cde8c;
}
span.iotester-input {
    background-color: #49d8ff;
}
/* Traceback button top margin is by default a bit too small */
button.btn-traceback {
    margin-top: 10px;
}
/* A table is used for wrapping long panel text to multiple lines and to prevent it from pushing badges and labels down */
/* Overflow prevents panel text, badges and labels from rendering outside grader result panels */
div.panel-default > .panel-heading {
    overflow: hidden;
    display: table;
    width: 100%;
}
/* Table cell for the text part of panel titles */
div.panel-text {
    display: table-cell;
}
/* Vertically center and reserve space for the badges and labels of panel titles */
div.panel-annotation {
    display: table-cell;
    vertical-align: middle;
    min-width: 200px;
}
/* Add space between panel titles and points badges, and increase badge size */
div.grading-task .panel-default > .panel-heading .badge {
    font-size: 14px;
    margin-right: 10px;
}
/* Green color for badges and labels when tests pass */
div.grading-task .panel-default > .panel-heading .color-passed {
    color: #fff;
    background-color: #00803c;
}
/* Red color for badges and labels when tests fail */
div.grading-task .panel-default > .panel-heading .color-failed {
    color: #fff;
    background-color: #a50000;
}
/* Orange color for badges and labels when errors occur */
div.grading-task .panel-default > .panel-heading .color-error {
    color: #fff;
    background-color: #a6670e;
}
