div.feedback-body {
    margin-top: 15px;
}
/* Align all labels in grader result panels to the right side */
span.feedback-label {
    float: right;
}
/* Add space between different test groups */
div.grading-task {
    margin-top: 40px;
    margin-bottom: 40px;
}
/* Add more separation between last test group and unittest terminal output */
div.full-test-output {
    margin-top: 35px;
}
/* Bootstrap h3 bottom margins are by default a bit too small */
h3.testgroup-header {
    margin-bottom: 20px;
}
/* Disable automatic horizontal scroll of preformatted text blocks */
pre {
    white-space: pre-wrap;
}
div.warning-messages {
    margin-top: 35px;
}
